doctype html
html(lang="en")
    head
        meta(charset = "UTF-8")
        meta(http-equiv="X-UA-Compatible")
        meta(name="viewport", content="width=device-width")
        title noom
    body
        header
            h1 Noom
        main
            video#myFace(autoplay, playsinline, width=400, height=400)

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")