doctype html
html(lang="en")
    head
        meta(charset = "UTF-8")
        meta(http-equiv="X-UA-Compatible")
        meta(name="viewport", content="width=device-width")
        title noom
    body
        h1 it work!
        script(src="/public/js/app.js")